.button{
	display: block;
    font-family: Helvetica;
    align-self: left;
    width: 80px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 16px;
    background-color: white;
     padding: 9px;
    font-size: 18px;
    margin-left: -20px;
}

.about_text{
    font-size: 1.3em;
    text-align: justify;
    padding-left: 70px;
    padding-right: 70px;
}

.button2{
    position: fixed;
    top:30px;
    left:50px;
    font-family: Helvetica;
    align-self: left;
    width: 150px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 14px;
    background-color: white;
     padding: 9px;
    font-size: 18px;
    margin-left: -20px;
}

.button1{
    position: fixed;
    top:30px;
    left:50px;
    font-family: Helvetica;
    align-self: left;
    width: 60px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 16px;
    background-color: white;
     padding: 9px;
    font-size: 12px;
    margin-left: -20px;
    z-index: 10;

}

.heading{
    position: relative;
    text-align: center;
    margin-left: 30px;

}

h1{
    position:absolute;
    text-align: center;
    color:black;
    font-size: 4em;
    font-family:"Prata";
    top:-40px;
    margin-left: 200px;
}